<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="generator" content="Hugo 0.80.0">
    <meta name="keywords" content="Recommender system, travelling, Lithuania">
    <meta name="author" content="Aušrys Mikoliūnas, Ignas Motekaitis">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/pricing/">

    

    <!-- Bootstrap core CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
  <p class="h5 my-0 me-md-auto fw-normal">Lankytinos vietos</p>
  <a class="btn btn-outline-primary" href="/forma">Į pradžią</a>
    <a class="btn btn-outline-primary headermyg" href="/vietos">Stebėtos vietos</a>
  <a class="btn btn-outline-primary headermyg" href="/rekomendavimas">Rekomendacijos pagal įvertinimus</a>
  
  <a class="btn btn-outline-primary headermyg atsi" href="/logout">Atsijungti</a>
  
  <a class="btn btn-outline-primary headermyg" href="/signup">Registracija</a>
  <a class="btn btn-outline-primary headermyg" href="/login">Prisijungti</a>
</header>